<div class="container">
    <div class="row">
        <div class="hero-unit center">
            <h1>Página no encontrada <small><font face="Tahoma" color="red">Error 404</font></small></h1>
            <br />
            <p>La página que solicitó no pudo ser encontrada, puede contactar al administrador del sistema o intentar de nuevo. Utilize el botón de <b>Regresar</b> de su navegador para navegar a la página anterior de donde vino</p>
            <p><b>O puede precionar el siguiente botón:</b></p>
            <a href="#/home" class="btn btn-large btn-info"><i class="glyphicon glyphicon-home"></i>Llevame al inicio</a>
        </div>
    </div>
</div>

