<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Nosotros <small>¡Gusto en conocerte!</small></h1>
        </div>

    </div>

    <!-- START THE FEATURETTES -->

    <div class="featurette" id="about">
        <img id="rotate1" class="featurette-image img-circle img-responsive pull-right" src="image/about/haran.png">
        <h2 class="featurette-heading">Bienvenidos a Escuela Haran Taeyion <span class="text-muted">Es un placer dar a conocer nuestra escuela.</span></h2>
        <p class="lead">afilicaciones.a quien va dirigida la escuela (niños adolecentes y adultos).</p>
        <button type="button" class="btn btn-primary"><i class="fa fa-download"></i>Ver Afiliación</button>
    </div>

    

    <div class="featurette" id="services">
        <img class="featurette-image img-circle img-responsive pull-left" src="image/about/heraclio.png">
        <h2 class="featurette-heading">Heraclio Hernandez Falomir <span class="text-muted">Grado del prof.</span></h2>
        <p class="lead">Lo que hace el profesor.</p>
        <button type="button" class="btn btn-primary"><i class="fa fa-download"></i>Ver Certificado</button>

    </div>
    <hr class="featurette-divider">
    <h2>Horarios:</h2>
    <br />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Lunes</th>
                <th>Miercoles</th>
                <th>Viernes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>5 - 6</td>
                <td>menos de 6 años</td>
                <td>menos de 6 años</td>
                <td>menos de 6 años</td>
            </tr>
            <tr>
                <td>6 - 7</td>
                <td>Principiantes</td>
                <td>Principiantes</td>
                <td>Principiantes</td>
            </tr>
            <tr>
                <td>7 - 8</td>
                <td>Avanzados</td>
                <td>Avanzados</td>
                <td>Avanzados</td>
            </tr>
            <tr>
                <td>8 - 9</td>
                <td>Adultos</td>
                <td>Adultos</td>
                <td>Adultos</td>
            </tr>
        </tbody>
    </table>

    <!-- /END THE FEATURETTES -->
</div>
<script>$('#rotate1').addClass('animated rotateIn')</script>
<!-- /.container -->
