<div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">Próximos eventos <small>¡No faltes!</small></h1>
        </div>

      </div>

      <div id="bounceIn" class="row">

        <div class="col-md-5">
          <a href="portfolio-item.html"><img class="img-responsive" src="http://placehold.it/318x412&text=Convocatoria 318x412"></a>
        </div>

        <div class="col-md-7">
          <h3>Nombre de Evento</h3>
          <h4>Asociación</h4>
          <p>Breve descripcion</p>
          <a class="btn btn-primary" href="portfolio-item.html">Como llegar <i class="fa fa-map-marker"></i></a>
        </div>

      </div>

      <hr>
      <div class="row">

        <div class="col-md-5">
          <a href="portfolio-item.html"><img class="img-responsive" src="http://placehold.it/318x412&text=Convocatoria 318x412"></a>
        </div>

        <div class="col-md-7">
          <h3>Nombre de Evento</h3>
          <h4>Asociación</h4>
          <p>Breve descripcion</p>
          <a class="btn btn-primary" href="portfolio-item.html">Como llegar <i class="fa fa-map-marker"></i></a>
        </div>

      </div>

      <hr>

      <div class="row">

        <div class="col-md-5">
          <a href="portfolio-item.html"><img class="img-responsive" src="http://placehold.it/318x412&text=Convocatoria 318x412"></a>
        </div>

        <div class="col-md-7">
          <h3>Nombre de Evento</h3>
          <h4>Asociación</h4>
          <p>Breve descripcion</p>
          <a class="btn btn-primary" href="portfolio-item.html">Como llegar <i class="fa fa-map-marker"></i></a>
        </div>

      </div>

      <hr>

      <div class="row">

        <div class="col-md-5">
          <a href="portfolio-item.html"><img class="img-responsive" src="http://placehold.it/318x412&text=Convocatoria 750x350"></a>
        </div>

        <div class="col-md-7">
          <h3>Nombre de Evento</h3>
          <h4>Asociación</h4>
          <p>Breve descripcion</p>
          <a class="btn btn-primary" href="portfolio-item.html">Como llegar <i class="fa fa-map-marker"></i></a>
        </div>

      </div>

      <hr>

      <div class="row text-center">
        
        <div class="col-lg-12">
          <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>        
        </div>

      </div>

    </div><!-- /.container -->

    <div class="container">

      <hr>

      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; Company 2013</p>
          </div>
        </div>
      </footer>

    </div><!-- /.container -->

<script>$('#bounceIn').addClass('animated bounceIn')</script>